/* Body and Layout Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #4CA;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

footer {
    background-color: #afffb4;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.intro-container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-container h2 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

.intro-container p {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    line-height: 1.6;
}



.main-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Image Container */
.image-container {
    flex: 1;
    text-align: center;
}



/* Form Container */
.form-container {
    flex: 1;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2,
h3 {
    text-align: center;
    color: #333;
}

/* Input Fields and Button */
.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Links and Messages */
.message {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}